
GC_Lab6/obj/Debug/net5.0/GC_Lab6.pdb
GC_Lab6/obj/Debug/net5.0/GC_Lab6.dll
GC_Lab6/bin/Debug/net5.0/GC_Lab6.pdb
GC_Lab6/bin/Debug/net5.0/GC_Lab6.dll
.vs/GC_Lab6/v17/.suo
.vs/GC_Lab6/v17/.futdcache.v1
GC_Lab6/obj/Debug/net5.0/GC_Lab6.pdb
GC_Lab6/obj/Debug/net5.0/GC_Lab6.dll
GC_Lab6/bin/Debug/net5.0/GC_Lab6.pdb
GC_Lab6/bin/Debug/net5.0/GC_Lab6.dll
.vs/GC_Lab6/v17/.suo
